.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 24px;
  margin-right: 10px;
  margin-left: 10px;
}

.header .header__title {
  justify-content: center;
}
