.settings .settings__list {
  border-bottom: 1px solid rgba(248, 248, 248, 0.938);
  padding-top: 30px;
}

.settings__setting .settings__icon {
  font-size: 18px;
  margin-right: 20px;
}

.settings__setting .settings__title {
  font-size: 18px;
  font-weight: 300;
}

.settings .settings__setting {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
